<div class="table-control row-fluid">
    <div class="span5">
        <form class="form-inline" action="">
            <input type="search" class="span6" ng-model="value"  ng-change="query(field, value, sort, order, 1, limit)" placeholder="Search by name">
            <select class="span3" ng-model="field" ng-change="query(field, value, sort, order, 1, limit)">
                <option value="name">name</option>
                <option value="url">url</option>
            </select>
            <button class="btn" ng-click="value = ''; query(field, value, sort, order, 1, limit)">Clear</button>
        </form>
    </div>
    <div style="float:right">
        <a class="btn btn-success btn-add" id="add" href="#/feed/1">Create new</a>
    </div>
</div>

<table class="table table-bordered table-condensed table-hover">
    <thead>
    <tr>
        <th class="span1">TT</th>
        <th class="header headerSortUp">Name</th>
        <th class="header">Url</th>
        <th class="span2">Option</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="entry in data">
        <td>{{data.indexOf(entry) + 1}}</td>
        <td><a href="#/feed/{{entry._id}}">{{entry.name}}</a></td>
        <td>{{entry.url}}</td>
        <td>
            <a href="">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<div class="row-fluid">
    <div class="pagination" style="float:right">
        <ul>
            <li><a href="">&laquo;</a></li>
            <li ng-class="{active: page == i}" ng-repeat="i in [] | range:totalPage">
                <a href="" ng-click="query(field, value, sort, order, i, limit)">{{i}}</a>
            </li>
            <li class="disabled"><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>