@(title: String, navBar: Html)

@import partials._

<!DOCTYPE html>

<html ng-app="myFeed">
<head>
    @header(title)
</head>
<body ng-controller="HomeController">

<div id="topmenu" class="navbar navbar-fixed-top">
    @navBar
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="feed-nav" ui-view="feed.nav">
            <!--Left Col-->
        </div>
        <div class="feed-list" ui-view="feed.list">
            <!--Middle Col-->
        </div>
        <div class="feed-detail" ui-view="feed.detail">
            <!--Right Col-->
        </div>
    </div>
</div>
</body>
</html>
