@(navBar: Html)
<!DOCTYPE html>

@import partials._

<html ng-app="myFeed.admin">
<head>
    @header(Messages("application.title"))
</head>
<body ng-controller="HomeController">

<div class="navbar navbar-inverse navbar-fixed-top">
    @navBar
</div>

<div class="container">
    <legend>
        <h3>{page.title}</h3>
    </legend>
    <div ui-view></div>
</div>

<hr>

<footer>
    <div class="container">
        <p class="muted credit" style="text-align:center">
            © @Messages("application.url") 2013
        </p>
    </div>
</footer>
</body>
</html>